
 
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



main{
        font-family: 'Poppins', sans-serif;
}

body{
        font-family: 'Poppins', sans-serif;
        
       
        
}
.menu-bar{
        display: flex;
}

.menu{
      margin-top: 42px;
}

.logo-name{
        margin-top: 42px;
        margin-left: 156px;
}

nav{
       display: flex;
        background: #2D25A0;     
        height: 680px;
}
nav a{
     
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px;
        margin-right: 100px;
        margin-top: 170px;
}

h1{
        color: #FFFFFF;
        font-size: 64px;
        width: 485px;
        height: 230px;
       margin-top: 207px;
     margin-left: 300px;
       
        
}

.link-button{

        background-color: #E02C6D;
       
        margin-left: 300px;
        padding-right: 40px;
        padding-top: 10px;
        padding-bottom: 15px;
        padding-left:10px ;
        
       
       
        
}
.fa-arrow-right{
        color: #FFFFFF;
        margin-right: 30px;
        
}


nav img{
        width:556px;
        height: 438px;
        margin-top: 153px;
       margin-right: 250px;
       margin-left: 30px;
        
        
}



.first-sec{
        margin-left: 180px;
        margin-right: 210px;
        
}
.second-sec{
       
        display: flex;
        margin-top: 70px;
        margin-left: 180px;
        margin-right: 210px;
        width: 330px;
        height: 474px;
        
}
.third-sec{
        display: flex;
        margin-top: 70px;
        margin-left: 180px;
        margin-right: 210px;
}
.fourth-sec{
        display: flex;
        margin-top: 70px;

        margin-left: 180px;
        margin-right: 210px;
        
}

.players{
        display: flex;
        margin-top: 70px;
        margin-left: 180px;
        margin-right: 210px;
        width: 330px;
        height: 474px;


        
}

.player-img{
        width: 300px;
        height: 256px;

}

h3{
        margin-top: 30px;
}



p{
        margin-top: 10px;
        width: 300px;   
        height: 104px; 
}

.messi{
        margin-left: 30px;
        width: 300px;
        height: 256px;
}


.Ronaldo{
        margin-left: 30px;
}
footer{
        text-align: center;
        font-size:18px;
        margin-top: 250px;
        
}

footer .logo-img{
        width: 500px;
        height: 110px;
        margin-left: 450px;
}

.icon{
        margin-top: 150px;
}